.footer-container{
    background-color: white;
    border-top: 5px solid var(--primary-color);
    padding:20px 0;
}
.footer-wrapper{
    display:flex;

}
.footer-left {


}
.footer-logo{
    height:40px;
    padding:0 16px;
    border-radius:50%;
    background-color:#ccc;
}
.footer-left-detail{
    margin: 10px 0;
    line-height: 28px;
}
.footer-left-nav{
    list-style-type: none;
    display: flex;
}
.footer-left-nav li{
    margin-right: 10px;

}
.footer-left-nav a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.footer-left-res{
    font-size: 16px;
}
.footer-right{
    
    
}
.footer-right-list{
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    margin-bottom: 6px;
}
.footer-right li{
    padding:0 5px;
    margin: 0 8px 8px 0;
    background-color:#E2E2E2;
    border-radius:4px;
    line-height:30px;
}
.footer-right li a{
    text-decoration: none;
    color: black;

}
.footer-right li:hover a{
    color: var(--primary-color);
    transition: 0.3s;
}
.footer-right-detail{
    font-size: 13px;
    line-height: 21px;
}