/* .header{
    padding:10px 0;
} */
/* header top */
.header-top{
    display: flex;
    flex-direction: row;
    position: relative;
    padding:10px 0;
    align-items: center;

}
.header-top-left{
    height: 44px;
}
.header-top-logo{
    height: 44px;
}
.dark-mode{
    width:44px;
    height: 44px;
    border-radius: 50%;
    font-size:22px;
    border: 1px solid var(--primary-color);
    padding: 1px 6px;
    color: var(--primary-color);
    background-color: transparent;
    text-align: center;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.top-search{
    width:420px;
    position: relative;
    margin-left:20px;
    align-items: center;
}

.top-search_input{
    min-width: 100%;
    padding: 0 45px 0 20px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid var(--primary-color);   
    font-size: 14px;
}

.top-search_input:focus{
    outline:none;
}
.top-search_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid transparent;

}
.top-search_inp-right{
    display: none;
    padding: 9px 10px;
    border-radius: 50%;
    color: var(--text-white);
    font-size: 19px;
    border: 1px solid transparent;
    background-color:var(--primary-color);

}
.header-top-right{
    position: absolute;
    right: 0;
}
.header-top-right_list{
    list-style-type: none;
    outline: none;
    display: flex;
    flex-wrap: row;
    right:0;
    align-items: center;
}
.header-btn{
    border:none;
    border-radius: 5px;
    line-height:34px;
    width:100px;
    padding: 1px 6px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    background-color: #3F94D5;
    color: var(--text-white);
    margin-left: 10px;
}
/* header-bottom */
.header-bottom-wrapper{
    background-color: var(--primary-color);
    color: var(--text-white);
    position: relative;

}
.header-bottom{
    position: relative;
    display: flex;
    height: 52px;
    align-items: center;
}
.header-bottom-left{
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 0;

}
/* .header-bottom li{
    position: relative;
      
} */
.header-bottom-left .menu-hide{
    position: relative;
    display:block;
    height: 100%;  
}

.header-bottom  li > a{
    text-decoration: none;
    color: var(--text-white);
    display:flex;
    padding:0 10px;
    align-items: center;
    line-height:52px;
}

.header-bottom  li:hover > a{
    background-color:#de847d;
    /* background-color:transparent; */
    /* color: #f0564a; */
}
.header-bottom  li:hover > .menus-hide-list{
    display:flex;
}
.arrow-down{
    margin-left:6px;
    transform: translateY(-15%);
}

.menus-hide-list{
    display:none; 
    position: absolute;
    /* display: flex; */
    width:1200px;
    justify-content: space-around;
    /* background-color: var(--text-light); */
    /* background-color:white; */
    background-color:#ece6e6;
    list-style-type: none;
    flex-wrap: wrap;
    z-index: 1;
}

.menus-hide-list li{  
    line-height:40px;
}
.menus-hide-list li a{
    color:var(--text-color);
    justify-content:center;
}
.menus-hide-list li:hover> a{
    background-color:transparent;
    color:#f0564a;
}

.active-category{
    color: #f0564a !important;
}
.header-bottom-right{
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 0;
}
.btn_nav{
    display: none;
    background-color: transparent;
    border: none;
    font-size:20px;
    width: 52px;
    line-height: 52px;
    color: var(--text-white);
    position:absolute;
    right:0;
    top: 0;
}
/* pc large */
@media (min-width: 1200px){
    .menu_pc{
        display:flex !important;
    }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .menu_pc{
        display:flex !important;
    }
}
/* tablet */
@media (min-width:740px) and (max-width:1023px){
    /* .top-search_input{
        display: none;
    } */
    /* .header-input-mc{
        display: block;
        position: absolute;
        transform: translateY(58px);
        background-color: var(--text-white);
        border-radius: 150px;
        z-index: 3;
        width: 100%;
        margin-left: 0;
    
    }
    .header-bottom{
        display: none;
        flex-wrap: wrap;
        background-color:var(--primary-color);
        z-index: 2;
        position: relative;
        right: 0;
        left: 0;
        height: 52px;
    }
    .header-bottom-bkg{
        position: relative;
        height: 52px;
    }
    .header-bottom-left{
        display: unset;
        width: 100%;
        position: relative;
        transform: translateY(0px);
        background-color: var(--primary-color);
    }
    .header-bottom-left li{
        
        color: black;
    }
    .header-bottom-right{
        display: unset;
        position: relative;
        width: 100%;
        left: 0;
        transform: translateY(0px);
        background-color: var(--primary-color);
    }
    .header-bottom-right li{
        color: black;
    }
    .btn_nav{
        display:block;
        z-index: 2;
    } */
    
}

/* mobile */
@media (max-width:739px) {
    .top-search{
        display: none;
    }
    .dark-mode{
        margin-left: 4px;
    }
    .header-btn{
        margin-left: 4px;
        width: 80px;
    }
    .margin-row{
        margin-left: 4px;
        margin-right: 4px;
    }

}
/* tablet vaf mobile */
@media (max-width:1023px){
    .menus-hide-list{
        width: 100%;
        position: unset;
        background-color: var(--primary-color);
       
    }

    .header-input-mc{
        display: none;
        position: absolute;
        transform: translateY(58px);
        background-color: var(--text-white);
        border-radius: 150px;
        z-index: 3;
        width: 100%;
        margin-left: 0;
    
    }
    .top-search_inp-right{
        display: block;
    }
    .showNav,
    .header-bottom{
        /* display: none; */
        flex-wrap: wrap;
        background-color:var(--primary-color);
        position: relative;
        right: 0;
        left: 0;
        height: 52px;
        z-index: 2;
    }
    .header-bottom-bkg{
        position: relative;
        height: 52px;
    }
    .header-bottom-left{
        display: unset;
        width: 100%;
        position: relative;
        transform: translateY(0px);
        background-color: var(--primary-color);
    }
    .header-bottom-left li{
        
        color: black;
    }
    .menus-hide-list li a{
        color: var(--text-white);
        
    }
    .menus-hide-list li{
        padding-left: 0;
        padding-right: 0;
    }
    .menus-hide-list li:hover a{
        color: var(--text-color);
        background-color: #de847d

    }

    .header-bottom-right{
        display: unset;
        position: relative;
        width: 100%;
        left: 0;
        transform: translateY(-1px);
        background-color: var(--primary-color);
    }
    .header-bottom-right li{
        color: black;
    }
    .btn_nav{
        display:block;
        z-index: 2;
    }
    .showNav{
        display:none;
    }
    .top-search_input{
        height: 50px;
    }

}

/* ----------------Form đăng nhập-------------------- */

#login-signup{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
    z-index: 100;
    
}

#form-1,
#form-2{
    width: 100%;
    display: none;
    flex-wrap: wrap;
    background-color:var(--light-background);
    flex-direction: column;
    border-radius: 4px; 
}
#form-2 input,
#form-1 input{
    border: 1px solid var(--heading-color);
    padding: 0 15px;
    line-height: 48px;
    border-radius: 4px;
    width: 100%;
}

#form-1-heading,
#form-2-heading{
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}
#module-list{
    list-style-type: none;
   
}

.module-item p{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0;
}
#module-repeat-pass{
    display: block;
}
.btn-form{
   display: flex;
   position: relative;
   margin: 20px 0;
   width: 100%;
   align-items: center;
   height: 40px;
}
.btn-common{
    display: block;

    position: relative;
    left: 0;

    padding: 0 10px;
    margin-right: 12px;
    min-width: 50px;
    line-height: 40px;
    border-radius: 4px;

    background-color:var(--primary-color);
    color:var(--text-white);
    border:none;

    cursor: pointer;
}

.btn-close{
    position: absolute;
    right: 0;

    background-color: blue;
    color: var(--text-white);
    padding: 0 10px;
    border-radius: 4px;
    border:none;
    min-width: 50px;
    font-weight: 600px;
    line-height: 40px;

    cursor: pointer;
}

.avtive-btn-form{
    display: block;
}
