.main-home-page{
    background-color:transparent;
    position: relative;
    color:var(--primary-color);
    font-size: 22px;

}
.home-page-menus{
    display: flex;  
    height:60px;
    margin-top:10px;    
    align-items: center;

}
.home-menu-left{
    position: absolute;
    left: 0;
}

.home-menu-right{
    position: absolute;
    display:flex;
    align-items: center;
    right: 0;

}
.update-sort{
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--primary-color);
    background-color: var(--heading-color);
    border-color: var(--primary-color);
    height: 40px;
    
}
.home-page-des{
    background-color:var(--light-background);
    color: #18191A;
    margin: 0 0 20px;
    padding: 15px 0 15px 0; 
    border-radius: 4px;
}
.home-page-des p{
    line-height:24px;
    font-size:18px;
    margin-left: 20px;
}
/* -------List manga---------- */
.home-page-list{
    /* background-color: red; */
    /* height: 1000px; */
    color: black;
}
.lists-manga{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

/* ----------item-manga-grid------------ */
.item-manga-grid{
    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
    
    
}
.item-manga-grid:hover{
    box-shadow: 0 0 12px rgba(248, 49, 14, 0.9);
    transform: translateY(-4px);
    transition: transform 1s;
}
.manga-avatar{
    position: relative;
    width: 100%;
}
/* .manga-avatar:hover  .manga-avatar-img{
    opacity: 0.8;
    box-shadow: 0 0 12px rgba(248, 49, 14, 0.9);
    transform: translateY(-6px);
} */
.manga-avatar-img{
    width: 100%;
    position:relative;
    border-radius: 4px;     
    height: 240px;
  

}

.manga-detail{
    position:absolute;
    bottom: 6px;
    display: flex;
    background-color:rgba(0, 0, 0, 0.6);
    color: var(--text-white);
    width: 100%;
    line-height: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
.manga-detail > span{
    font-size:16px;
    padding: 0 6px;
}
.manga-info{
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.manga-info-heading{
    text-decoration: none;
    color: black;
    font-size:16px;  
    white-space: nowrap; 
}
.manga-info-heading:hover{
   color: var(--primary-color);

}
.manga-info-detail{
    display: flex;
    font-size: 16px;
    width: 100%;
}
.last-chater{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.last-chater:hover{
    color: var(--primary-color);
}
.time-chapter{
    position: absolute;
    right: 12px;
    font-size: 10px;
    bottom: 0px;
}

/* -------------item-manga-list--------------- */
.item-manga-list{
    display: none;
    flex-wrap: nowrap;
    width: 100%;
    background-color:white;
    position: relative;
    margin-bottom: 20px;
    height: 100px;
    border-radius:1px solid var(--primary-color);
    border-radius: 4px;
}
.item-manga-list:hover{
    box-shadow: 0 0 12px rgba(248, 49, 14, 0.9);
    transform: translateY(-4px);
    transition: transform 1s;
}

.manga-avatar-list{
    position: relative;
    margin-left: -12px;
    min-width: 100px;
    float: left;

}
/* .manga-avatar-list:hover  .manga-avatar-img-list{
    opacity: 0.5;
    box-shadow: 0 0 12px rgba(248, 49, 14, 0.9);
} */
.manga-avatar-img-list{
    /* width: 100%; */
    position:relative;
    border-radius: 4px;     
    height: 100px;
    width: 100px;
  

}

.manga-detail-list{
    display: flex;
    position: relative;
    right: 0;
    flex-direction: row-reverse;
    color: black;
    width: 100%;
    line-height: 30px;
    height: 30px;
}

.manga-detail-list > span{
    font-size:16px;
    padding-left:  6px;
    margin-bottom: 0;
}
.manga-info-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    max-width: 100%;
    height:100px;

}
.manga-info-heading-list{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:700;  
    white-space: nowrap; 
    margin-top: 8px;
    display: block;
}
.manga-info-heading-list:hover{
   color: var(--primary-color);
}
.manga-info-detail-list{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    width: 100%;
    position: relative;
    bottom: 6px;
    padding:12px 0; 
}
.last-chater-list{
    text-decoration: none;
    color: black;
    font-size: 13px;
    position: absolute;
    bottom:0;
}
.last-chater-list:hover{
    color: var(--primary-color);
}
.time-chapter-list{
    position: absolute;
    right: 0;
    font-size: 13px;
    bottom: 0px;
}





/*--------------- Navigation------------ */
.navigation{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0 50px 0;
}
.navigation-list{
    display: flex;
    list-style-type: none;

}
.navigation-item{
    margin:0 12px;
}
.navigation-link{
    text-decoration: none;
    line-height:40px;
    color: black;
    padding: 8px 14px;
    border-radius: 50%;
    font-size: 16px;
    
}
.active-nav{
    border: 1px solid var(--primary-color);
    background-color:var(--primary-color);
    color: var(--text-white);

}

@media (min-width: 1200px){
    /* .item-manga-grid{
 

    }
    .item-manga-list{
   

    } */
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px){
    /* .item-manga-list{
        
    } */
}

  
/* mobile */
@media (max-width:739px) {
   .home-page-menus{
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
    height: auto;
   }
   .home-menu-left{
    position: relative;
    margin-bottom: 20px;
   }
   .home-menu-right{
      left:0; 
    position: relative;

    }
}